#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Firefox
Exec=firefox -new-window
Terminal=false
Type=Application
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;rset